@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 style="text-align: center;">Auckland Cinemas</h1>
</div>

<div class="row">
    <div class="column">
        <div class="card">
            <div class="container">
                <h2>Captial Cinema</h2>
                <p>Address: 610 Dominion Road, Balmoral, Auckland 1041</p>
                <p>Phone: 09 623 2000</p>
                <p>Email: cinema@thecapitol.co.nz</p>
                <a href="https://www.thecapitol.co.nz/" target="_blank" class="btn btn-info text-white" role="button"><b>Link</b></a>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <div class="container">
                <h2>Bridgeway Cinemas</h2>
                <p>Address: 122 Queen Street, Northcote Point, Auckland</p>
                <p>Phone: 09 481 0040</p>
                <p>Email: info@bridgeway.co.nz</p>
                <a href="https://www.bridgeway.co.nz/" target="_blank" class="btn btn-info text-white" role="button"><b>Link</b></a>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <div class="container">
                <h2>Academy Cinemas</h2>
                <p>Address: Central Library Building, 44 Lorne Street, Auckland City</p>
                <p>Phone: </p>
                <p>Email: cinema@academycinemas.co.nz</p>
                <a href="https://academycinemas.co.nz/" target="_blank" class="btn btn-info text-white" role="button"><b>Link</b></a>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <div class="container">
                <h2>Lido Cinema</h2>
                <p>Address: Lido Cinema, 427 Manukau Road, Epsom, Auckland</p>
                <p>Phone: 09 630 1500</p>
                <p>Email: info@lido.co.nz</p>
                <a href="https://www.lido.co.nz/" target="_blank" class="btn btn-info text-white" role="button"><b>Link</b></a>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <div class="container">
                <h2>Monterey Takapuna</h2>
                <p>Address: 34 Anzac Street Takapuna, Auckland 0622</p>
                <p>Phone: 09 666 0714</p>
                <p>Email: </p>
                <a href="https://www.montereytakapuna.co.nz/" target="_blank" class="btn btn-info text-white" role="button"><b>Link</b></a>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <div class="container">
                <h2>The Hollywood Avondale</h2>
                <p>Address: 18-20 Saint Georges Road, Avondale, Auckland 0600</p>
                <p>Phone: 021 150 5721</p>
                <p>Email: manager@hollywoodavondale.nz</p>
                <a href="https://www.hollywoodavondale.nz/" target="_blank" class="btn btn-info text-white" role="button"><b>Link</b></a>
            </div>
        </div>
    </div>
</div>